body{
	/*font-family: 'Montserrat';*/
	font-family: 'Open Sans', sans-serif;
font-family: 'Outfit', sans-serif;
font-family: 'PT Serif', serif;
font-family: 'Roboto', sans-serif;
 

}
#title{

	text-align: center;
    background-image: url('https://i.pinimg.com/originals/53/0a/74/530a746087d021696f38e010ff8c3112.jpg');
    color: #fff;

}

.container-fluid{
  padding: 3% 15% 3%;


}

/* Navigation bar */

.navbar-brand{
	font-size:2rem !important;
	line-height: 1.5;
	font-weight:bold;
}

.navbar{
	padding:0 0 4.5rem;
	margin-bottom: 4.5rem;
}


.bigheading{
	font-size:3rem;
	line-height:1.5;
	   

}

.section-heading{

	font-size:3rem;
	line-height:1.5;

}


p{
	color: #ababab;

}

/*sign up button*/
.signupbtn{
	margin: 2% 5% 5% 5%;

}

.btn-lg{
	padding: 1rem 5rem !important;
   
}


/*features section*/

#features{
	padding: 7% 9% 15%;
	position: relative;
	background-color: #f5f5f5;
	
}

.feature-box{
	    padding: 30px;
}

.feature-title{
	font-size:1.5rem;

}


/*courses*/

#courses{
	
    padding: 80px;
	   margin-top: -240px;
}

.card{
	border: 0;
	width: fit-content;
}
.card-body{
	    box-shadow: 2px 2px 12px lightgrey;
}
.card-image{
	height: 45px;
    margin: 18px 5px;
}


.courses-item{
	padding:3% 2%;
}

.card-body h6{
	font-weight: bolder;
}

/*information*/
#information, #footer{
	background-color: #f5f5f5;
}

.info{
	display: flex;
	padding: 0;
}
.info-image{
	    height: 280px;
}
/*contact*/
.contact, #footer{
	padding: 3% 4% 3%;
}



.socialicon{
	margin:20px 5px;
	    border-radius: 100%;
	    width: 31px;
	    box-shadow: 2px 2px 12px lightgrey;
}


